/* colors */
$black: #454545;
$gray: #9b9b9b;
$light-gray: #ebedf8;
$green: #46b688;
$green-hover: #399f81;
$green-active: #288077;
$red: #ed715c;
$blue: #0a7abf;
/*pop-up colors*/
$pop-up-bg: #e7f2ee;
$pop-up-green: #419779;
$pop-up-border: solid 1px rgba(65, 151, 121, 0.3);

$brdr-rds: 4px;